/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Var */
:root {
	--background-color-header: #ffffff;
	--hover-menu : #ffcc01 ;
	--time-transiton : 0.4s ;
	--height-header : 90px	;
	--color-main: #1f373d ;
}

html {
	font-size: 13px;

}
body {
	
}
/* Container */
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
/* Header */
header {
	background-color: var(--background-color-header);
	height: var(--height-header);
	font-family: Mon-regular;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 0px;
}
.header .header-top .menu {
	display: flex;
	align-items: center;
	gap: 33px;
	list-style: none;
	font-family: Mon-regular;
	color: var(--color-main);
}
.header .header-top .menu  a {
	color: #1f373d;
}
.header .header-top .menu .menu-link:hover {
	color: var(--hover-menu);
}
.menu-link {
	text-decoration: none;
	transition: var(--time-transiton);
}
.cta {
	display: flex;
	align-items: center;
	gap: 23px;
}
.cta a {
	color: #1f373d;
	
}
.cta .btn-join:hover {
	color: var(--hover-menu);
}
.btn-join {
	text-decoration: none;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
}
.btn-started {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 145px;
	background-color: #ffcc01;
	border-radius: 5px ;
	transition: var(--time-transiton);
}
.btn-started:hover {
	background-color: #f0d157;
}
/* Banner */
.banner {
	background: url(../img/hero-banner.jpg) no-repeat ;
	background-size: cover;
}
.banner .container	{
	height: calc(100vh - var(--height-header));
	min-height: 600px;
}
.main-title {
	font-size: 62px;
	line-height: 78px;
	color: var(--color-main);
	font-family: Mon-bold;
	letter-spacing: 0.2px;
	padding-top: 150px;
	margin-bottom: 35px;
}
.banner__search {
	height: 70px;
	display: flex;
}
.banner__search input {
	background: url(../img/icont-search.png), white;
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size: 17px;
	font-family: Mon-regular;
	height: 100%;
	width: 367px;
	border: 0;
	outline: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px ;
	padding: 0 30px 0 60px;
	color: #919eb1;
}
.banner_saerch-btn {
	height: 100%;
	background-color: #ffcc01;
	border: 0;
	outline: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	padding: 0 35px;
	font-size: 13px;
	cursor: pointer;
	font-family: Mon-regular;
}
.banner_saerch-btn:hover {
	background: var(--hover-menu);
}

.banner__locations {
	position: absolute ;
	right: 15px;
	bottom: 0;
	background: #ffcc01;
	display: flex;
}
.banner__locations .banner__locations-item {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Mon-semibold;
	text-decoration: none;
	padding: 0 34px 0 55px;
	color: #1f373d;
}
.banner__locations .banner__locations-item:last-child {
	padding: 0 55px 0 34px;
}
.banner__locations .banner__locations-item img {
	height: 18px;
	margin-right: 30px;
}
.banner__scrolldown {
	position: absolute;
	bottom: 70px;
	left: -15px;
	color: #818181;
	font-size: 12px;
	font-family: Montserrat;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner__scrolldown img {
	height: 30px;
	width: 15px;
}
.banner__scrolldown span {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	margin-bottom: 43px;
}
/* COMPANY */
.company-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 140px;
}
.des-company {
	width: 50%;
	margin-right: 230px;
}
.box-company{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	align-items: center;
	justify-content: space-between;
}
.title-cpn {
	font-family: Mon-bold;
	font-size: 40px;
}
.content-cpn {
	font-size: 13px;
	font-family: Mon-regular;
	padding-top: 65px;
	line-height: 30px;
}
.ct {
	padding-top: 46px;
}
.box-company .box {
	margin-bottom: 10px;
	width: 200px;
	height: 200px;
	background: #f6f5f4;
}
.number {
	font-family: Mon-semibold;
	font-size: 40px;
	color: #ffcc01;
	margin: 50px;
	
}
.box-company .box .text {
	margin: 50px  ;
	font-family: Mon-semibold;
	font-size: 14px;
	color: #1f373d;
}
/* Appartments */
.appartments {
	margin-top: 100px;
	padding: 80px 0;
	background-color: #f6f5f4;
}
.title-appart {
	font-family: Mon-bold;
	font-size: 40px;
	margin-bottom: 60px;
}
.appartment-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
 .appartment-list-item {
	padding:  15px;
	flex: 1 0 30%;
	cursor: pointer;

}
.appartment-list-item .appartment-img {
	overflow: hidden;
	height: 0;
	padding-bottom: 105.6%;
	position: relative;

}
.appartment-list-item .appartment-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
}
.appartment-list-item .appartment-img:hover img {
	transition: var(--time-transiton);
	transform: translate(-50%, -50%) scale(1.2);
}
.appartment__bottom  {
	background: white;
	padding: 20px 20px;
	-webkit-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.29);
	box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.29);
}
.appartment__bottom .appartment__bottom-title a {
	font-size: 15px;
	height: 40px;
	line-height: normal;
	font-family: Mon-semibold;
	color: var(--color-main);
	text-decoration: none;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;

}
.appartment__bottom .appartment__bottom-title a:hover {
	color: var(--hover-menu);
}
.appartment__bottom .appartment__bottom-content  {
	display: flex;
	justify-content: space-between;
}
.appartment__bottom .appartment__bottom-content .price {
	font-size: 18px;
	font-family: Mon-semibold;
	color: #ecc93d;
	
}
.appartment__bottom .appartment__bottom-content .info {
	display: flex;
	align-items: center;
}
.appartment__bottom .appartment__bottom-content .info .info__item i {
	margin-right: 12px;
}

.appartment__bottom .appartment__bottom-content .info .info__item span {
	font-size: 13px;
	font-family: Mon-regular;
	color: #919eb1;
	margin-right: 12px;
}
.appartment__btn {
	cursor: pointer;
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: 70px;
	color: #ffffff;
	max-width: 250px;
	background: #ffffff;
	margin-left: 450px;
}
.appartment__btn  a {
	font-size: 15px;
	font-family: Mon-regular;
	text-decoration: none;
	color: var(--color-main);
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
}
.appartment__btn:hover a {
	color: var(--hover-menu);
}
/* HOW IS WORKS ? */
 .work {
	margin-top: 75px;
	margin-bottom: 75px;
}
.container .title__box .title {
	font-family: Mon-bold;
	font-size: 40px;
	color: #1f373d;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}
.container .title__box p {
	font-family: Mon-regular;
	font-size: 13px;
	line-height: 30px;
	margin-bottom: 70px;
}
.work__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.work__list .work__list-box {
	padding:  20px 40px 50px 40px;
	flex: 1 0 23%;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.2);
	margin: 0 15px;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
} 
.work__list .work__list-box:hover, .work__list .work__list-box.active  {
	cursor: pointer;
	background: var(--hover-menu);
	color: #fff;
}

.work__list .work__list-box:hover .work__number, 
.work__list .work__list-box:hover .title-box,
 .work__list .work__list-box:hover .box-bottom ,
 .work__list .work__list-box.active .work__number, 
.work__list .work__list-box.active .title-box,
.work__list .work__list-box.active .box-bottom  {
	color: #fff;
}


.work__list .work__list-box:hover .box-bottom:after {
	background: #fff;
}
.work__list .work__list-box.active .box-bottom:after {
	background: #fff;
}
.work__list .work__list-box .work__number {
	color: #3f3f3f;
	font-size: 100px;
	line-height: normal;
	font-family: Mon-bold;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
}
.work__list .work__list-box .title-box {
	font-size: 18px;
	color: #1f373d;
	line-height: normal;
	font-family: Mon-semibold;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
}
.work__list .work__list-box .des_box {
	padding-left: 29px;
	font-size: 13px;
	font-family: Mon-regular;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.work__list .work__list-box .box-bottom {
	font-size: 13px;
	color: #1f373d;
	font-family: Mon-semibold;
	text-decoration: none;
	padding-left: 29px;
	display: inline-block;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
	
}
.work__list .work__list-box .box-bottom::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #1f373d;
	display: block;
	margin-top: 7px;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
}

/* SERVICE */
.service {
	margin-bottom: 75px;
}
.service .title-service {
	font-family: Mon-bold;
	font-size: 40px;
	color: #1f373d;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}
.service .title-service-p {
	font-family: Mon-regular;
	font-size: 13px;
	line-height: 30px;
	margin-bottom: 70px;
} 
.service__des {
	display: flex;

}
.service__des .service__left {
	padding-right: 120px;
}
.service__des .service__right .service__right-content:not(last-child) {
	margin-bottom: 10px;
}
.service__des .service__right .service__right-content h3 {
	font-size: 25px;
	font-family: Mon-semibold;
	color: #1f373d;
	line-height: 50px;
}
.service__des .service__right .service__right-content p {
	font-size: 13px;
	font-family: Mon-regular ;
	color: #1f373d;
	line-height: 30px;
	max-width: 100%;
}
/* Meet Our Agents */
.meetour {
	margin-bottom: 75px;
}
.meetour .container .title__meet {
	max-width: 390px;
}
.meetour .container .title-meetour {
	font-family: Mon-bold;
	font-size: 40px;
	color: #1f373d;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}
.meetour .container .title-meetour-p {
	font-family: Mon-regular;
	font-size: 13px;
	line-height: 30px;
	margin-bottom: 70px;
}
.des__meetour {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.des__meetour-box {
	padding:  15px;
	flex: 1 0 30%;
}
.des__meetour-box--img {
	overflow: hidden;
	height: 0;
	padding-bottom: 105.6%;
	position: relative;
	
}
.des__meetour-box--img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
}
.des__meetour-box--img:hover img {
	transition: var(--time-transiton);
	transform: translate(-50%, -50%) scale(1.2);
}
.des__meetour-box--content {
	background: white;
	padding: 20px 20px;
	-webkit-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.29);
	box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.29);
}
.des__meetour-box--content a {
	font-size: 15px;
	height: 40px;
	line-height: normal;
	font-family: Mon-semibold;
	color: var(--color-main);
	text-decoration: none;
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}
.des__meetour-box--content:hover a {
	color: var(--hover-menu);
}
.des__meetour-box--content .des__meetour-box-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.des__meetour-box--content .des__meetour-box-info span {
	color: #ffcc01;
	font-family: Mon-semibold;
	font-size: 15px;
}
.des__meetour-box--content .des__meetour-box-info img {
	height: 15px;
	
}
/* Last Section */
.last {
	margin-bottom: 75px;
}
.des__last-box--img {
	position: relative;
	padding-right: 90px;
}
/* .des__last-box--img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: var(--time-transiton);
	-webkit-transition: var(--time-transiton);
}
.des__last-box--img:hover img {
	transition: var(--time-transiton);
	transform: translate(-50%, -50%) scale(1.2);
} */
.des__last-box {
	display: flex;
	margin-bottom: 100px;
}
.des__last-box--img .add-last {
	position: absolute;
	height: 80px;
	width: 330px;
	top: 280px ;
	left: 33px;
	background-color: #ffcc01;
}
.des__last-box--img .add-last   {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.des__last-box--img .add-last  img {
	margin-left: 57px;
	width: 27px;
}
.des__last-box--img .add-last span {
	margin-right: 32px;
	font-family: Mon-semibold;
	font-size: 18px;
	color: #1f373d;
}
.des__last-box--content {
	padding-top: 80px;
}
.des__last-box--content h3 {
	font-family: Mon-semibold;
	font-size: 25px;
	line-height: 50px;
	color: var(--color-main);
}
.des__last-box--content p {
	font-size: 13px;
	font-family: Mon-regular ;
	color: #1f373d;
	line-height: 30px;
	max-width: 100%;
}
.des__last-box--content-last h3 {
	font-family: Mon-semibold;
	font-size: 25px;
	line-height: 50px;
	color: var(--color-main);
}
.des__last-box--content-last p {
	font-size: 13px;
	font-family: Mon-regular ;
	color: #1f373d;
	line-height: 30px;
	max-width: 100%;
}
.des__last-box--content-last .show-more  {
	text-decoration: none;
	width: 240px;
	height: 80px;
	margin-top: 83px;
	background: #1f373d;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.des__last-box--content-last .show-more a {
	font-size: 18px;
	font-family: Mon-bold;
	color: #fff;
	text-decoration: none;
	margin-left: 45px;
}
.des__last-box:nth-child(2) {
	flex-direction: row-reverse;
}
.des__last-box:nth-child(2) .des__last-box--img {
	margin-left: 0;
	padding-right: 0;
}
.des__last-box:nth-child(2) .des__last-box--content {
	padding-left: 0;
	text-align: right;
	margin-right: 100px;
}

/* FOOTER */
.footer {
	height: 540px;
	background: #1f373d;
}
.footer .footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	border-bottom: 1px solid #919eb1;
}
.footer .footer__top .title__footer {
	padding-top: 60px;
	
}
.footer .footer__top .title__footer h1 {
	font-size: 40px;
	font-family: Mon-bold;
	color: #fff;
}
.footer .footer__top .search__footer input {
	background: url(../img/icon-footer.jpg.png), white;
	background-repeat: no-repeat ;
	background-position: 93%;
	cursor: pointer;
	width: 475px;
	height: 70px;
	margin-top: 60px;
	font-size: 15px;
	font-family: Mon-regular;
	color: #919eb1;
	border: 0 ;
	outline: 0;
	padding-left: 27px;
}
.footer .footer__top .search__footer button {
	
	
}
.footer .footer__bottom {
	margin-top: 80px;
	display: flex;
	align-items: center;
}
.footer .footer__bottom .footer-left .all-right {
	margin-top: 70px ;
	font-family: Mon-regular;
	font-size: 14px;
	color: white;
	line-height: 20px;
}
.footer .footer-right {
	margin-left: 250px;
	display: flex;
	align-items: center;
	gap: 140px;
}
.footer .footer-right .menu-bottom {
	max-height: 110px;
}
.footer .footer-right .menu-bottom h4 {
	color: #919eb1;
	font-size: 13px;
	font-family: Mon-regular;
	margin-bottom: 40px;
}
.footer .footer-right .menu-bottom li {
	padding-bottom: 25px;
}
.footer .footer-right .menu-bottom li a {
	color: #fff;
	font-size: 13px;
	font-family: Mon-regular;
	text-decoration: none;
}
